/UD1/1-Introduction/build/
/UD1/1-Introduction/nbproject/private/
/UD1/2-JavaBasics/build/
/UD1/2-JavaBasics/nbproject/private/
/UD1/2020-11-02Hodei/build/
/UD1/2020-11-02Hodei/nbproject/private/
/UD1/3-AriketaGehigarriak/build/
/UD1/3-AriketaGehigarriak/nbproject/private/
/UD2/00-Azalpenak/nbproject/private/
/UD2/01-ZirkuluenProiektua/build/
/UD2/01-ZirkuluenProiektua/nbproject/private/
/UD2/02-LaukienProiektua/build/
/UD2/02-LaukienProiektua/nbproject/private/
/UD2/03-ZatikienProiektua/build/
/UD2/03-ZatikienProiektua/nbproject/private/
/UD2/04-LangileenProiektua/build/
/UD2/04-LangileenProiektua/nbproject/private/
